@import 'reset.css';

button {
    border: solid black 2px;
    padding: 2px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    min-height: 10vh;
    box-sizing: border-box;
    border: solid #227622 2px;
    padding: 5px;
    margin: 5px;
    background-color: #22762222;
}

main {
    min-height: 80vh;
    box-sizing: border-box;
}

footer {
    min-height: 10vh;
    box-sizing: border-box;
}

header a {
    color: blue;
}